h1{
    font-size: 3 rem;
    text-align: center;
}

h2{
    font-size: 1.25rem;
    text-align: center;
}

p{
    line-height: 1.3;
}

.author{
    font-size: 1.1rem;
    text-align: center;
    font-style: italic;
}

body{
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}